body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-color: #f0f8ff;
    background-image: url('fundo-corrida.png'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    font-size: 24px;
}

.finish-line {
    position: absolute;
    right: 100px; /* Posição da linha de chegada, ajusta com base na largura */
    top: 0;
    width: 5px;
    height: 100%;
    background-color: red; /* Cor da linha de chegada */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
}

.race-container {
    background-color: rgba(255, 255, 255, 0.85); 
    padding: 30px;
    border-radius: 15px;
    width: 90%;
    max-width: 1400px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

.track {
    margin: 20px auto;
    width: 100%;
    height: 435px;
    position: relative;
    border: 2px solid #000;
    background-color: #e0f7fa;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.2); /* Sombra na pista */
}
/* Adiciona a animação de balanço */
@keyframes swing {
    0% {
        transform: rotate(0deg); /* Posição inicial */
    }
    50% {
        transform: rotate(5deg); /* Gira 5 graus para a direita */
    }
    100% {
        transform: rotate(0deg); /* Volta para a posição inicial */
    }
}

.horse {
    position: absolute;
    left: 0;
    width: 13%;
    transition: left 0.3s; 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65px;
    border-radius: 10px;
    box-sizing: border-box;
    font-weight: bold;
    animation: swing 1s ease-in-out infinite; /* Adiciona a animação de balanço */
}

.horse img {
    width: 70px; /* Ajuste o tamanho do cavalo aqui */
    height: auto;
}


#horse1 {
    top: 10px;
}

#horse2 {
    top: 80px;
}

#horse3 {
    top: 150px;
}

#horse4 {
    top: 220px;
}

#horse5 {
    top: 290px;
}

#horse6 {
    top: 360px;
}

button {
    display: block;
    margin: 20px auto;
    padding: 12px 24px;
    font-size: 36px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    background-color: #4CAF50;
    color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
}

button:hover {
    background-color: #45a049;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2); 
}

.winner-animation {
    animation: pulse 1s infinite;
    border: 4px solid gold; 
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 10px 0px gold;
    }
    50% {
        box-shadow: 0 0 30px 10px gold;
    }
    100% {
        box-shadow: 0 0 10px 0px gold;
    }
}

#winner {
    color: green;
    font-size: 36px;
    margin-top: 20px;
}
